analise_network/datasets/Merged*
analise_rodoviaria/datasets/*
analise_network/modelos/Random Forest/modelo_ciberseguranca_rf.pkl
analise_rodoviaria/modelos/LightGBM/modelo_peoes_lgbm.pkl
analise_rodoviaria/modelos/Random Forest/modelo_peoes_rf.pkl
analise_rodoviaria/modelos/Regressão Linear/modelo_peoes_lr.pkl
analise_rodoviaria/modelos/LightGBM/modelo_transito_lgbm.pkl
analise_rodoviaria/modelos/Random Forest/modelo_transito_rf.pkl
analise_rodoviaria/modelos/Regressão Linear/modelo_transito_lr.pkl
